#canvas{
    background-color: aqua;
    height: 500px;
    width: 500px;
    text-align: center;
}

#score{
    color: brown;
    font-size: 40px;
}

#button{
    background-color: floralwhite;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    line-height: 200px;
    user-select: none;
    margin-top: 100px;
}